.container {
    width: 100%;
    height: 100%;
    margin: auto;

}

.centered-title {
    text-align: center;
}

.table-container{
    max-width: 550px;
    margin: auto;
}

.table-container input {
    margin-bottom: 1em;
    width: 200px;
    text-align: left;
    float: right;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:solid 0.5px black;
    padding:5px;
}

table {
    margin: auto;
    width: 550px;
}

table thead {
    background-color: #3e3e3e;
    color: white;
    text-align: center;
    font-family: "Apple Symbols";
}

table thead tr{
    height: 3em;
}

table tbody {
    font-family: "Apple Symbols";
}

table tbody tr td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

table tbody tr:nth-of-type(odd) {
    background-color: #dcdcdc;
}
